<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title> Multiple Sending Manuscript</title>
</head>
<body>
<h1>Sending Manuscript</h1>

<div>
	<form action="/multiSending" method="post">
		<table>
			<tr>
				<th>Deadline</th>
				  
				<th><input type="date" name="deadlineDate" required="required" ></th>
				<th><input type="time" name="deadlineTime" required="required" >  </th>
				
			</tr>
			
			<tr>
				<th>Comment:</th>
				<th> <textarea rows="10" cols="50" name="editorComment" ></textarea> </th>
			</tr>
			
			<tr>
				<th>
					<input type="submit" value="send">
				</th>
			</tr>
		</table>
		
		
		
		
		
	</form>
</div>
</body>
</html>