<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Re-submit Manuscript</title>
</head>
<body>
<form th:action="@{/saveResubmit}" method="post" enctype="multipart/form-data" th:object="${manuscript}">
		<table>
		<tr align="left" hidden="">
			<th>  sID:</th>
			<th> <input type="text"  name="sid" th:field="*{sId}" ></th>
		</tr>
		<tr align="left">
			<th>Title:</th>
			<th > <input type="text" name="title" required="required" th:field="*{sTitle}"></th>
		</tr>
		
		<tr align="left">
			<th>Major: </th>
			<th ><select name="major" th:field="*{sMajor}">
				<option value="computer_science"> Computer Science </option>
				<option value="data_science"> Data Science</option>
				<option value="network_science"> Network Science</option>
				<option value="security_science"> Security Science</option>
				<option value="biology">Biology</option>
				<option value="social">Social</option>
				<option value="math"> Math </option>
				<option value="physic">Physic</option>
				<option value="literature"> Literature</option>
				<option value="astrology"> Astrology</option>
				<option value="medicine"> Medicine</option>
			</select></th>
		</tr>
		
		<tr align="left" hidden="">
			<th> Author Name:</th>
			<th > <input type="text" name="authorName" th:field="*{sAuthorname}"></th>
		</tr>
		
		<tr align="left" hidden="">
			<th> Author ID:</th>
			<th > <input type="text" name="authorID" th:field="*{appUser.userId}"></th>
		</tr>
		
		<tr align="left" hidden="">
			<th> sComment:</th>
			<th > <input type="text" name="scomment" th:field="*{sComment}"></th>
		</tr>
		
		<tr align="left" hidden="">
			<th> sState:</th>
			<th > <input type="text" name="sState" th:field="*{sState}"></th>
		</tr>
		
		<tr align="left" >
			<th>Workplace:</th>
			<th> <input type="text" required="required" name="authorworkplace" th:field="*{sWorkplace}"> </th>
		</tr>
		
		<tr align="left" >
			<th>Country:</th>
			<th> <input type="text" required="required" name="country" th:field="*{sCountry}"> </th>
		</tr>
		
		<tr align="left" >
			<th>Keyword:</th>
			<th> <input type="text" required="required" name="keyword" th:field="*{sKeyword}"> </th>
		</tr>
		
		<tr align="left">
			<th>Abstract paragraph: </th>
			<th > <textarea rows="10" cols="50" th:field="*{sAbstract}"></textarea> </th>
		</tr>
		
		<tr align="left">
			 <th>Upload Manuscript:</th>
			 <th> <input type="file"  name="file"  required="required"> </th>
		</tr>
		<tr align="left">
			<th> <input type="submit" value="Submit"> </th>
			<th> <a href="/userInfo"> <input type="button" value="Back"> </a>  </th>
		</tr>
		</table>
		
	</form>
</body>
</html>