<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Approve Submission</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<div>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Science Website</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Topic
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Computer Science</a></li>
            <li><a class="dropdown-item" href="#">Data Science</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/welcome">More...</a></li>
          </ul>
        </li>
        
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Submit
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/submissionForm">Manuscript</a></li>
            <li><a class="dropdown-item" href="#">Scientific Paper</a></li>
          </ul>
        </li>
        
        <li>
          <a class="nav-link" aria-current="page" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
        </li>
    
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</div>
<hr>

<h2>Approve Submission Paper</h2>

<div>
	<div align="left">
		<table>
			<tr>
				<th><h2 align="left">Manuscripts information</h2>
				<th hidden=""><a href="/resultChecking">
						<button type="button" class="btn btn-outline-primary">Plagiarism Check</button>
					</a>
			</tr>
		</table>
	</div>
	<div>

<table border="1" class="table table-striped table-hover table-responsive-md">
	
	<thead>
		<tr align="center">
			<th>s_id
			<th>s_Authorid
			<th>s_Title
			<th>s_Authorname
			<th>s_Major
			<th>s_Workplace
			<th>s_Abstract
			<th>s_State
		</tr>
	</thead>
	<tbody align="center">
		<tr>
			<td th:text="${manuscript.sId}"></td>
			<td th:text="${manuscript.appUser.userId}"></td>
			<td th:text="${manuscript.sTitle}"></td>
			<td th:text="${manuscript.sAuthorname}"></td>
			<td th:text="${manuscript.sMajor}"></td>
			<td th:text="${manuscript.sWorkplace}"></td>
			<td th:text="${manuscript.sAbstract}"></td>
			<td th:text="${manuscript.sState}"></td>
		</tr>
	</tbody>
	</table>
</div>

<div>
	<div align="left">
		<table>
			<tr>
				<th><h2 align="left">Results of Reviewing</h2>
			</tr>
		</table>
	</div>

<table border="1" class="table table-striped table-hover table-responsive-md">
	
	<thead>
		<tr align="center">
			<th>r_id
			<th>s_id
			<th>r_name
			<th>r_email
			<th>r_phone
			<th>r_Deadline_Date
			<th>r_Deadline_Time
			<th>r_Review_Date
			<th>r_Review_Time
			<th>r_Late
			<th>r_comment
			<th>r_state
		</tr>
	</thead>
	<tbody align="center">
		<tr  th:each=" review : ${reviewList}">
			<td th:text="${review.appUser.userId}"></td>
			<td th:text="${review.SubmissionInfor.sId}"></td>
			<td th:text="${review.appUser.fullName}"></td>
			<td th:text="${review.appUser.userEmail}"></td>
			<td th:text="${review.appUser.userPhone}"></td>
			<td th:text="${#dates.format(review.sDeadlinedate, 'dd-MM-yyyy')}"> </td>
			<td th:text="${review.sDeadlinetime}"> </td>
			<td th:text="${#dates.format(review.reviewDate, 'dd-MM-yyyy')}"> </td>
			<td th:text="${review.reviewTime}"> </td>
			<td th:switch="${review.isLate}">
				<p th:case="true">
					<span th:text="${review.isLate}" style="color: red;"></span>
				</p>
				<p th:case="false">
					<span th:text="${review.isLate}"></span>
				</p>
			
			</td>
			
			<td th:text="${review.reviewerComment}"></td>
			<td th:text="${review.reviewerState}"></td>
		</tr>
	</tbody>
	</table>
</div>

<div>
	<div align="left">
		<table>
			<tr>
				<th><h2 align="left">Reviewer List</h2>
				<th>
					 <form  action="/search" class="d-flex" method="get" >
        				<input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="keyword">
       			 		<button class="btn btn-outline-success" type="submit">Search</button>
      				 </form>
				</th>
			</tr>
			
		</table>
	</div>

<div>
	<form action="/getSendingList" method="post">
	
	<table border="1" class="table table-striped table-hover table-responsive-md">
	
	<thead>
		<tr align="center">
			<th>r_id
			<th>r_Name
			<th>r_fields
			<th>r_Email
			<th>r_Phone
			<th>r_Select
		</tr>
	</thead>
	<tbody align="center">
		<tr th:each=" reviewer : ${reviewerList}">
			<td th:text="${reviewer.getAppUser().getUserId()}"></td>
			<td th:text="${reviewer.getAppUser().getFullName()}"></td>
			<td th:text="${reviewer.getMasterField()}"></td>
			<td th:text="${reviewer.getAppUser().getUserEmail}"></td>
			<td th:text="${reviewer.getAppUser().getUserPhone}"></td>
			<td>
				<input type="checkbox" th:value= "${reviewer.getAppUser().getUserId()}" name = "reviewerList">
			</td>
			<td>
				<a th:href=@{/send/{rid}/{mid}(rid=${reviewer.getAppUser().getUserId()},mid=${manuscript.sId})}> Send</a>
			</td>
		</tr>
	</tbody>
	</table>
	<div hidden="">
		<input type="text" th:value="${manuscript.sId}" name="manuscript_id_multi">
	</div>
	<div align="right">		
		 <input type="submit" value="send by selection">
	</div>
		
	</form>
	
</div>

</div>

<a th:href="@{/downloadfile/{id}(id=${manuscript.sId})}">Click here to download manuscript</a> <br>
	<form action="/saveUpdateState" method="post">
		<table>
			<tr hidden="">
				<th>sid</th>
				<th> <input type="text" th:field="${manuscript.sId}"> </th>
			</tr>
			<tr>
				<th>Update State:</th>
				<th>
					<select name="updatestate" th:field="${manuscript.sState}">
						<option value="reject">reject</option>
						<option value="accept_with_small_changeable">accept with small changeable</option>
						<option value="accept_with_changeable">accept with changeable</option>
						<option value="accept_without_changeable">accept without changeable</option>
					</select>
				</th>
			</tr>	
			
			<tr>
				<th>Comment:</th>
				<th>
					<textarea rows="10" cols="50" th:field="${manuscript.sComment}"></textarea>
				</th>
			</tr>
			
			<tr>
				<th>
					<input type="submit" value="Submit">
				</th>
				
				<th> <a href="/editor"> <input type="button" value="Back"> </a>  </th>
			</tr>
		</table>
		
	</form>
	
	
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>